h1 {
    color: blue;
}

.b-wrapper {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

.b-form-field-wrapper {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.b-form-field {
    width: 300px;
}

.b-task__title {
    display: flex;
    align-items: center;
}

.b-avatar {
    display: inline;
    border-radius: 20px;
}

.b-user-name {
    display: inline;
    font-size: 20px;
    margin-left: 10px;
}

.b-task__content {
    margin: 20px 0;
    margin-top: 0;
}

.b-modal_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
}

.b-modal {
    position: absolute;
    top: 100px;
    right: 100px;
    left: 100px;
    bottom: 100px;
    background: blue;
}
